{% load static %}

<body>
{% include 'navigation_bar.html' %}
    <div class='content'>
        <div>
            <h2 style='margin-left: 8%' ;><b>Monthly Report</b></h2>
        </div>
        <div>
            <section class='base-cards'>
                {% if months %}
                    {% for i in months|length %}
                        <div class='card2'>
                            <h3>{{ months.i }} {{ year.i }}</h3>
                            <div style='font-size: 125%; color:#027456; flex-direction: roW; align-items: center;'>
                                ₹
                                <span style='font-size: 2.5em;' id=>XXX,XXX</span>.XX<span>
                                <a href='#'> <img src='{% static 'SalarySlip/image/eye.svg' %}' class='dash-logo' alt='icon'></span></a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class='misc-card'>
                        <p><img src='{% static 'SalarySlip/image/misc.png' %}' align='right' style='max-width: 90%;'></p>
                    </div>
                {% else %}
                    <p>Sorry No Data for you is available</p>
                {% endif %}
            </section>
    </div>
</body>